<!DOCTYPE html>
<html lang="en">
<!--Fetches an image file from the user, named: user_img-->
<head>
    <meta charset="UTF-8">
    <title>FoldFinder</title>
</head>
<body>
    <h1>Replicate your favorite origami!</h1>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Upload an image to get started.</h2>
                <form action="/result" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Upload your image here.</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="user_img" id="user_img">
                            <label class="custom-file-label" for="user_img">Select image...</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Get Instructions</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>